// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "variables";
@import "base";
@import "review";
@import "404";
@import 'user';
@import 'subscribe';
@import 'company';

$fa-font-path:        "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "../../resources/module/media/admin/scss/browser";
@import "header";
@import './inc/lazyload';
//font//
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.bravo_wrap {
    @import './inc/footer';
    @import './block';
    @import './page-template-content';
    @import './contact';
    @import './inc/auth-page-content';
}
body {
    .container{
        @media (min-width:1400px) {
            max-width: 1300px !important;
        }     
        @media (min-width:1200px) {
            max-width: 1100px;
        } 
    }
    @media (max-width:1400px) {
        .bravo_wrap .page-template-content .block-form-search-job .container .row{
            padding: 14.9em 15em 0 12.8em;
        }
        .bravo_wrap .page-template-content .block-form-search-job{
            height: 670px;
        }
        .bravo_wrap .bravo_subscribe .subscribe-inner{
            height: 500px;
        }
        .bravo_wrap .bravo_company .cards{
            left: 33em;
        }
        .bravo_wrap .bravo_company .cards .card-item{
            max-width: 220px;
            height: 200px;

        }
        .bravo_wrap .bravo_company .heading{
            font-size: 37px;
        }
        .bravo_wrap .page-template-content .block-form-search-job .container .row div h1{
            font-size: 65px;
        }
        .bravo_wrap .bravo_subscribe .note .content{
            line-height:45px;
        }
        .bravo_wrap .bravo_company .cards{
            top:32em;
        }
        .bravo_wrap .bravo_search_job .bravo_banner .job_search_form .marker-icon{
            left: 444px !important;
        }
    } 
    @media (max-width:1200px){
        .bravo_wrap .page-template-content .block-form-search-job .container .row div h1{
            font-size: 50px;
        }
        .bravo_wrap .bravo_subscribe .note .content{
            line-height:50px;
        }
        .bravo_wrap .page-template-content .block-list-job-category .container .category-list .category-image{
            max-width: 140px !important;
            height: 140px !important;
        }
        .bravo_wrap .page-template-content .block-form-search-job .container .row{
            padding: 14.9em 7em 0 5.9em !important;
        }
        .bravo_wrap .bravo_company .heading{
            font-size: 31px !important;
        }
        .bravo_wrap .bravo_company .cards .card-item{
            max-width: 200px !important;
            height: 188px !important;
        }
        .bravo_wrap .bravo_company .cards{
            top: 32px;
        }
    }          
    color: #242424;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;

    &.user-page {
        background: #FDFDFD;
    }
    .form-control:focus{
        border-color: #ff8149;
        box-shadow: 0 0 0 0.2rem #ffc7ae;
    }
}
.bravo-pagination {
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            font-size: 16px;
            color: #768090;
            float: left;
            margin-right: 10px;
            a, span {
                display: block;
                height: 32px;
                width: 32px;
                line-height: 32px;
                text-decoration: none;
                color: #5E6D77;
                float: none;
                padding: 0;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                &.current {
                    border: 1px solid #5191FA !important;
                    border-radius: 3px;
                    background: transparent !important;
                    color: #5191FA !important;
                }
            }
            &.active {
                a, span {
                    border: 1px solid #5191FA !important;
                    background: transparent !important;
                    color: #5191FA !important;
                }
            }
        }
    }
    .count-string {
        font-size: 1rem;
        color: #768090;
        margin-top: 5px;
        display: block;
    }
}
.bravo-effect-bg,.bravo-effect-user-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 19;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.bootbox.modal{
    z-index: 3000;
    //&.show{
    //    display: flex !important;
    //    align-items: center;
    //}
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000;
        opacity: 0.5;
    }
    //.modal-dialog{
    //    min-width: 500px;
    //}
}