.bravo_wrap{
    .bravo_company{
        background-color: #F7F7F7;
        padding: 40px 0px 9em 0px;
        .heading{
            font-size: 2.5em;
            padding: 0px 7em 2em;
        }
        .left{
            padding-left: 5em;
            padding-right: 14em;
            position: relative;
            a.btn-danger{
                background-color: #FF8149;
                border-radius: 0px;
            }
        }
        .cards{
            position: absolute;
            top: 12em;
            left: -15em;
            .col-md-4{
                max-width: 30%;
                padding: 30px 20px;
                background-color: white;
            }
        }
    }
}