@import './mobile/header.scss';
@import './mobile/block-form-search-job.scss';
@import './mobile/block-list-job-category.scss';
@import './mobile/list-job.scss';
@import './mobile/subscribe.scss';
@import './mobile/company.scss';
@import './mobile/footer.scss';
body{
    .container{
        @media(max-width:575px){
            padding-left:30px;
            padding-right:30px;
        }
    }
    font-family: 'Poppins',sans-serif !important;
}