.page-template-content{
    .block-form-search-job{
        background-image:url('/images/home.png') !important;
        background-position: 0px -55px !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        height: 800px;
        .container{
            .row{
                padding-top: 20em;
                div{
                    h1{
                        color: white;
                        font-size: 5em;
                        font-weight: 500;
                        letter-spacing: 5px;
                    }
                    .g-form-control{
                        i{
                            top: 4.5rem;
                            color: rgb(23,42,49);
                        }
                        input{
                            border-radius: 0px;
                            padding: 3.5rem 160px 3.5rem 3.5rem;
                            font-family: Inter-Regular;
                        }
                        .btn-search{
                            position: relative;
                            border-radius: 0px;
                            background-color: rgb(255, 129, 73);
                            color: white;
                            top:calc(-1px - -8rem);
                            left:calc( 100% - 154px );
                            font-size: 2em;
                            height: 5.5rem;
                        }
                    }
                    div{
                        color: white;
                    }
                }
            }
        }
    }
}