.bravo_wrap{
    .bravo_subscribe{
        padding:150px 0px;
        background-color: rgb(255, 242, 237);
        .note{
            position: absolute;
            background-color: white;
            padding: 10px 50px;
            width: 410px;
            top: 4em;
            left: 4em;
            .content{
                font-size: 2em;
                line-height: initial;
            }
            .quote{
                padding: 30px 0px;
                span{
                    font-size: 2em;
                    box-shadow: 0px 0px 1px 1px;
                    color: #FFCB84;
                    padding: 8px 14px;
                }
            }
            .writer{
                padding: 2em 0em;
                font-size: 1.5em;
                color: #707070;
            }
        }
        .container{
            background: rgb(113, 121, 124);
        }
        .col-md-4{
            background-color:rgb(23, 42, 49);
            .text-heading{
                color: white;
                padding-top: 120px;
            }
            .sub-heading{
                padding-bottom: 30px;
                color: white;
                
            }
            .subscribe_thumb_image{
                height:300px
            }

        }
        .g-field-search{
            .fa-envelope{
                color: rgb(23, 42, 49);
            }
            .fa-envelope{
                position: relative;
                top: 3rem;
                font-size: 1.4rem;
                left: 1.5rem;
                color: white;
            }
            .subscribe_text{
                border-radius: 0px;
                padding:2.0rem 160px 2.0rem 3.5rem;
                background: white;
                color: rgb(23, 42, 49);
                &::placeholder{
                    color: rgb(23, 42, 49);
                }
            }

            .btn-subscribe{
                border-radius: 0px;
                width: 150px;
                top: calc( 2px - 4rem );
                position: relative;
                left: calc( 100% - 154px);
                height: 3.5rem;
                color: white;
                background-color: rgb(255,203,132);
            }
        }
    }
}