.bravo_user_content{
    @import './user/list-job';
    @import './user/user-sub-header';
    .page-template-content{
        .parent-card{
            padding: 0px;
            @import './user/user-profile-card';
        }
    }
    .attach-demo{
        padding: 0px!important;
        border-radius: 20px;
    }
    .upload-box{
        border-radius: 20px;
    }
}