.bravo_wrap{
    .bravo_company{
        background-color: #F7F7F7;
        padding: 0 0px 9em 0px;
        position: relative;
        font-family: "Inter", sans-serif;
        .heading{
            font-size: 24px;
            padding: 40px 15px 2em;
            font-family: 'Manrope', sans-serif;
            background-color: white;
        }
        .content{
            background-color: white;
            padding: 0 15px 10em;
            .left{
                text-align: center;
                padding: 0 0 25px;
                a.btn-danger{
                    background-color: #FF8149;
                    border-radius: 0px;
                    font-family: 'Poppins',sans-serif;
                    border-color: #FF8149;
                    font-size: 15px;
                    padding: 3px 21px;
                }
            }
            .pic{
                background: url(images/mobile-company.png) no-repeat; 
                background-size:100% 100%; 
                height:258px;
            }
        }
        .cards {
            position: relative;
            width: 221px;
            height: 227px;
            margin: 0 auto;
            box-shadow:0px 5px 31px 1px #f4f4f4cc;
            top: -44px;

            .transition {
              transition: .7s;
            }

            .window {
                overflow: hidden;
                position: relative;
                background-color: white;
                #company {
                    width: 10000px;
                    position: relative;
                    top: 0; 
                    left: 0;
                    .card-item{
                        max-width: 221px;
                        height: 227px;
                        padding: 30px 20px;
                        background-color: white;
                        cursor: pointer;
                        float: left;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
            #c_prev, #c_next {
                cursor: pointer;
                position: absolute;
                bottom: -40px;
                font-size: 14pt;
            }
            #c_prev { left: 0 }
            #c_next { right: 0 }
        }       
    }
}