.bravo_wrap{
    .bravo_subscribe{
        padding:80px 0px 0;
        background-color: #F4F6F8;
        .subscribe-inner{
            position: relative;
            background-color: #FFF2ED;
            padding: 60px 0 45px;
            .subscribe_thumb_image{
                background-image:url('/images/jame.png') !important; 
                background-size:cover;
                background-position: 72% 50%;
                height: 390px;
            }
        }
        #carouselNote{
            position: relative;
            top: -1em;
            .carousel-indicators{
                margin-bottom: 37px;
                li{
                    margin-right: 2px;
                    background-color: #162930;
                    height: 4px;
                }
            }
            .note{
                background-color: white;
                padding: 15px 30px;
                text-align: center;
                width: 90%;
                margin: auto;
                height: 460px;
                .content{
                    font-size: 18px;
                    line-height: 32px;
                    font-family: 'Manrope', sans-serif;
                }
                .quote{
                    padding: 30px 0px;
                    span{
                        font-size: 1em;
                        box-shadow: 0px 0px 1px 1px;
                        color: #FFCB84;
                        padding: 8px 14px;
                    }
                }
                .writer{
                    padding: 2em 0em;
                    font-size: 14px;
                    color: #707070;
                    font-family: 'Manrope', sans-serif;
                }
            }
            .carousel-control{
                display: table;
                margin: auto;
                position: relative;
                top: -12px;
                a{
                    padding: 10px;
                    color: #64626A;
                    background-color:#fcfcfc;
                }
            }
        }
        .g-field-search{
            .fa-envelope{
                color: rgb(23, 42, 49);
            }
            .fa-envelope{
                position: relative;
                top: 3rem;
                font-size: 1.4rem;
                left: 1.5rem;
                color: white;
            }
            .subscribe_text{
                border-radius: 0px;
                padding:2.0rem 160px 2.0rem 3.5rem;
                background: white;
                color: rgb(23, 42, 49);
                &::placeholder{
                    color: rgb(23, 42, 49);
                }
            }

            .btn-subscribe{
                border-radius: 0px;
                width: 150px;
                top: calc( 2px - 4rem );
                position: relative;
                left: calc( 100% - 154px);
                height: 3.5rem;
                color: white;
                background-color: rgb(255,203,132);
            }
        }
    }
}