@import "../../../sass/variables";
@import "single";
.modal-backdrop.show {
    opacity: 0.7;
}

.bravo_wrap {
    .bravo_search_job {
        .bravo_banner {
            background-color: rgb(23, 42, 49);
            position: relative;
            .job_search_form{
                font-family: 'Inter',sans-serif;
                h1 {
                    font-size: 36px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: left;
                    margin: 0;
                }
                @media(max-width: 766px){
                    padding: 70px 0;
                    h1 {
                        font-size: 28px;
                    }
                }
                .input-placefolder{
                    position: absolute;
                    right: 39em;
                    font-size: 14px;
                    color: #64626A;
                    bottom: 19px;
                    padding: 0px 20px;
                    border-left: 1px solid #E8E7E8;
                    i{
                        font-size: 19px;
                        color: black;
                    }
                    
                }
                .input-job-search-icon{
                    position: relative;
                    top: 3.4rem;
                    font-size: 1.4em;
                    left: 1.5rem;
                }
                .text-heading{
                    font-size: 4rem;
                    font-weight: bold;
                    color: #000;
                }
                .input-job-search{
                    padding:2.5rem 160px 2.5rem 3.5rem;
                    font-size: 1.3rem;
                    box-shadow: 0px 50px 50px 0px #efefef;
                    border-radius: 0px;
                    font-size: 14px;
                }
                .sub-heading {
                    font-size: 1.5rem;
                    color: #000;
                    font-weight: normal;
                }
                .g-form-control{
                    margin: 50px 0 0;
                    @media(max-width: 990px){
                        padding: 0;
                    }
                    @media(max-width: 766px){
                        margin: 20px 0 0;
                        background: #fff;
                    }
                }
                .btn-search{
                    border-radius: 0px;
                    width: 150px;
                    top: calc(5px - -5rem);
                    position: relative;
                    left: calc( 100% - 13rem);
                    height: 3.5rem;
                    background-color: #FF8149;
                }
                .sub-title{
                    position: relative;
                    top: -30px;
                    left: 10px;
                    font-size: 1.4rem;
                    font-weight: lighter;
                }
            }
        }
        .filter-heading{
            color: #8E8C95;
            font-size: 1.2em;
        }
        .bravo_filter {
            border: 0px;
            border-radius: 3px;
            margin-bottom: 30px;
            .filter-title {
                font-size: 16px;
                color: #1A2B48;
                margin-bottom: 5px;
                margin-top: 30px;
                font-weight: 500;
                @media(max-width: 766px){
                    margin-bottom: 10px;
                    margin-top: 15px;
                }
                &:before {
                    content: '';
                    width: 3px;
                    height: 20px;
                    background: #5191FA;
                    float: left;
                    position: relative;
                    top: -2px;
                    margin-right: 17px;
                }
            }
            .g-filter-item {
                border: none;
                border-radius: 0px;
                margin-bottom: 0px;
                padding: 20px;
                @media(max-width: 766px){
                    padding: 15px 20px;
                }
                .search_input{
                    input{
                        border-radius: 0px;
                        padding-left: 30px;
                    }
                    i{
                        position: relative;
                        top: 24px;
                        color: #B3B1B7;
                        left: 9px;
                    }
                }
                .hide{
                    display: none;
                }
                .item-title {
                    font-family: 'Manrope', sans-serif;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    .fa {
                        font-size: 1.4rem;
                        position: relative;
                        top: 4px;
                        left: 5px;
                    }
                    input.search{
                        font-size: 1.3rem;
                        line-height: 23px;
                        margin: 0;
                        color: black;
                    }
                }
                .item-content {
                    margin-top: 20px;
                    border-bottom: 1px solid #E8E7E8;
                    padding-bottom: 25px;
                    font-family: 'Inter', sans-serif;
                    @media(max-width: 990px){
                        display: none;
                    }
                    ul {
                        list-style: none;
                        li {

                        }
                    }
                    .bravo-checkbox>label{
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #9F9EA1;
                        span.badge{
                            background-color: #FF8149;
                        }
                        input[type=checkbox]{
                            border-radius: 0px;
                            &:before {
                                color: #FF8149;
                            }
                        }
                    }
                    .btn-more-item {
                        font-size: 1rem;
                        color: #5191FA;
                        padding: 0;
                        text-decoration: none;
                    }
                    .btn-apply-price-range {
                        font-size: 1rem;
                        color: #5191FA;
                        margin-top: 20px;
                        font-weight: 600;
                        padding: 0;
                        text-decoration: none;
                        outline: none;
                    }
                    .bravo-filter-price {
                        .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
                            font-size: 11px;
                            background-color: #5191FA;
                        }
                        .irs--flat .irs-bar {
                            top: 25px;
                            height: 12px;
                            background-color: #5191FA;
                        }
                        .irs--flat .irs-handle > i:first-child {
                            background-color: #5191FA;
                        }
                        .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
                            border-top-color: #5191FA;
                        }
                    }
                }
                .item-title.e-close {
                    .fa {
                        transform: rotate(180deg) !important;
                    }
                }
            }
        }
        .bravo-list-item {

            .topbar-search {
                .text {
                    font-size: 24px;
                    color: #8E8C95;
                    font-weight: normal;
                    margin: 0;
                }
            }
            .list-item {
                margin-top: 15px;
                @import "loop";
            }

        }
    }
    
    .iierw{
        padding-top: 100px;
    }

    .bravo_detail_job {
        .bravo_banner {
            background-color: #fff !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            position: relative;
            .container {
                position: relative;
            }
            .bravo_gallery {
                height: 500px;
                position: relative;
                @media(max-width: 1366px){
                    height: 400px;
                }
                @media(max-width: 1024px){
                    height: 300px;
                }
                @media(max-width: 766px){
                    height: 200px;
                }
                .modal {
                    .modal-dialog {
                        position: relative;
                        top: 50%;
                        width: 100%;
                        transform: translate(0, -50%);
                        margin: -10px auto 0;
                    }
                    .modal-content {
                        padding: 0;
                        background: transparent;
                        border: none;
                    }
                }
            }
            h1 {
                font-size: 36px;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: left;
                margin: 0;
            }
            .btn-group {
                position: absolute;
                bottom: 30px;
                right: 0;
                .btn {
                    margin-left: 10px;
                    background: rgba(26, 43, 72, 0.5);
                    font-size: 1rem;
                    color: #FFF;
                    padding: 10px 15px;
                    &:hover {
                        background: rgba(26, 43, 72, 1);
                    }
                    .fa {
                        margin-right: 10px;
                    }
                }
                .has-icon {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
            }
        }
        .bravo_banner_map{
            display: flex;
            background-color: #fff;
            min-height: 100px;
            position: relative;
            .g_gallery{
                flex: 0 0 65%;
                overflow: hidden;
                @media (max-width: 1023px) {
                    flex: 0 0 100%;
                }
                .g-gallery {
                    margin: 0;
                    position: relative;
                    min-height: 75px;
                    height: 100%;
                    width: 100%;
                    .fotorama__nav-wrap{
                        display: none;
                    }
                }
                .fotorama__stage{
                    max-height: 580px;
                    @media (max-width: 766px) {
                       max-height: 300px;
                        .fotorama__img{
                            top: 0 !important;
                        }
                    }
                }
            }
            .icofont-youtube-play{
                position: relative;
                top: -1px;
            }
            .g_map{
                flex: 1;
                #map_content{
                    height: 100%;
                }
                @media (max-width: 1023px) {
                   display: none;
                }
            }
            .modal {
                .modal-dialog {
                    position: relative;
                    top: 50%;
                    width: 100%;
                    transform: translate(0, -50%);
                    margin: -10px auto 0;
                }
                .modal-content {
                    padding: 0;
                    background: transparent;
                    border: none;
                }
            }
        }
        .bravo_content {
            .job-banner-image{
                background-size:cover;
                height:360px;
            }

            padding-top: 20px;
            h3{
                font-size: 1.5rem;
                @media(max-width: 990px){
                    font-size: 1.4rem;
                }
                @media(max-width: 766px){
                    font-size: 1.2rem;
                }
            }
            .g-banner{
                background-color: #FAF8F5;
                .top-heading{
                    padding-top: 100px;
                }
                .sub-heading{
                    padding-bottom: 100px;
                }
                .job-banner-image{
                    background-size:cover;
                    height:300px;
                }
                .g-field-search{
                    .subscribe_text{
                        border-radius: 50px;
                        padding:2.0rem 160px 2.0rem 3.5rem;
                    }
                    .btn-subscribe{
                        border-radius: 44px;
                        width: 150px;
                        top: -58px;
                        position: relative;
                        left: calc( 100% - 158px);
                        height: 50px;
                    }
                }
            }
            .g-header {
                margin-bottom: 10px;
                padding-top: 30px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: end;
                -ms-flex-align: end;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                h2,h1 {
                    margin-top: 0;
                    color: #1A2B48;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 1.3;
                    margin-bottom: 0;
                    @media(max-width: 990px){
                        font-size: 24px;
                    }
                    @media(max-width: 766px){
                        font-size: 18px;
                    }
                }
                .address{
                    margin-bottom: 0;
                    font-size: 1rem;
                    font-weight: normal;
                    @media(max-width: 766px){
                        margin-bottom: 5px;
                    }
                }
                .left{
                    @media(max-width: 766px){
                        flex: 0 0 100%;
                    }
                }
                .right{
                    min-width: 230px;
                    @media(max-width: 766px){
                        display: none;
                    }
                }
                .sub-heading {
                    color: #5E6D77;
                    font-size: 1rem;
                    .fa {
                        position: relative;
                        top: 2px;
                    }
                }
                .review-score{
                    .head{
                        display: flex;
                        align-items: center;
                        position: relative;
                        font-size: 22px;
                        color: #1a2b48;
                        font-weight: 400;
                        line-height: 25px;
                        justify-content: flex-end;
                        .left{
                            text-align: right;
                            .head-rating {
                                display: block;
                                line-height: 13px;
                                margin-top: 8px;
                            }
                            .text-rating {
                                color: #5191FA;
                                font-size: 1rem;
                            }
                        }
                        .score{
                            position: relative;
                            float: right;
                            margin-left: 20px;
                            padding: 10px 10px 0px 10px;
                            background: #5191fa;
                            border-radius: 4px;
                            color: #fff;
                            font-size: 30px;
                            font-weight: 400;
                            min-height: 45px;
                            span {
                                font-size: 1rem;
                                color: #FFF;
                            }
                            &::after {
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 0;
                                bottom: 0;
                                left: -8px;
                                border: 15px solid transparent;
                                border-bottom: 25px solid #5191FA;
                            }
                        }
                    }

                    .foot{
                        color: #5E6D77;
                        font-size: 1rem;
                        text-align: right;
                    }
                }
                .star-rate{
                    line-height: 16px;
                    .fa-star{
                        color: #C29D59;
                        font-size: 15px;
                        position: relative;
                        margin-right: 3px;
                    }
                }
            }
            .job-detail{
                position: relative;
                top: -6em;
                padding: 20px 30px;
                border: 1px solid #D7DCE3;
                background-color: white;
                .heading{
                    font-family: 'Inter', sans-serif;
                    border-bottom: 1.5px solid #D7DCE3;
                    margin-bottom: 3em;
                    .user_img{
                        width: 50px;
                        height: 55px;
                        background-size: cover;
                    }
                    .text-right{
                        font-size: 14px;
                    }
                    .name{
                        font-size: 1.5em;
                    }
                }
                .content{
                    padding: 20px 0px 50px;
                    border-bottom: 1.5px solid #D7DCE3;
                    font-family: 'Inter', sans-serif;
                    h4{
                        margin-bottom: 2.5em;
                    }
                    .row{
                        .col-md-6{
                            font-size: 1.2em;
                            color: #5A686D;
                        }
                    }
                }
            }
            .detail-right{
                padding: 20px;
                position: relative;
                font-family: 'Inter',sans-serif;
                top: -6em;
                .btn-group{
                    button{
                        border-radius: 0px;
                    }
                    .btn-default{
                        background-color: white;
                    }
                    .btn-primary{
                        width: 150px;
                        background-color: #FF8149;
                    }
                }
                .location{
                    label{
                        position: absolute;
                        top: 12px;
                    }
                    padding: 40px 20px 30px 20px;
                    box-shadow: 0px 0px 40px 1px #cccc;
                    .picture{
                        width: 100%;
                        height: 150px;
                        background-color: black;
                    }
                }
                .contact{
                    padding: 20px;
                    border: 1px solid #cccc;
                    label{
                        font-family: 'Manrope', sans-serif;
                    }
                }
            }
            .g-overview {
                padding: 30px 0px 50px 0px; 
                h2{
                    font-weight: bold;
                    font-family: 'IBM Plex Sans', sans-serif;
                }
                .description {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 1rem;
                    color: #5E6D77;
                    position: relative;
                    font-family: 'Source Sans Pro', sans-serif;
                    @media(max-width: 766px){
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                .how{
                    color: #5E6D77;
                    font-family: 'Source Sans Pro', sans-serif;
                }


                .btn_group{
                    padding: 30px 30px;
                    button{
                        width: 110px;
                        color: black;
                    }
                    .btn-danger{
                        background-color: #DBEFEF;
                    }
                    .btn-default{
                        box-shadow: 0px 0px 1px 1px black;
                    }
                }
                h4, strong {
                    font-size: 1rem;
                    color: #5E6D77;
                    font-weight: 500;
                    margin-bottom: 30px;
                    @media(max-width: 990px){
                        margin-bottom: 10px;
                    }
                }
                ul {
                    padding-left: 25px;
                    @media(max-width: 990px){
                        padding-left: 15px;
                    }
                    li {
                        font-size: 1rem;
                        color: #5E6D77;
                        margin-bottom: 20px;
                        list-style: none;
                        @media(max-width: 990px){
                            margin-bottom: 10px;
                        }
                        &:before {
                            content: '';
                            border: 1px solid #5191FA;
                            width: 8px;
                            height: 8px;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 20px;
                            @media(max-width: 990px){
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .g-job-contact{
                padding-top: 50px;
                .contact{
                    padding-top: 10px;
                    padding-bottom: 50px;
                }
                .c-name{
                    width: 25vw;
                    padding: 3px 3px 3px 30px;
                    font-family: 'Poppins';
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            
            .similar_job{
                padding: 30px 0px 50px 0px;
                h3{
                    margin-bottom: 20px;
                    font-family: 'Inter',sans-serif;
                }
                .item-loop-list {
                    border: 1px solid #dfdfdf;
                    overflow: hidden;
                    position: relative;
                    display: block;
                    height: 250px;
                    padding: 20px;
                    margin-bottom: 30px;
                    @media(max-width: 766px){
                        flex-wrap: wrap;
                    }
                    .published_date{
                        color: #ccc;
                        float: right;
                    }
                    .location{
                        max-width: 185px;
                        float: left;
                    }
                    .btn{
                        font-family: 'Source Sans Pro';
                        color: white;
                        font-weight: bolder;
                    }
                    .Practice{ 
                        color: #FF7979;
                    }
                    .SummerJob{
                        color: #468425;
                    }
                    .Internship{
                        color: #FC9001;
                    }
                    a {
                        text-decoration: none;
                        transition: all 0.3s;
                    }
                    .sale_info {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        right: 10px;
                        top: -25px;
                        color: #fff;
                        font-size: 15px;
                        background-color: #5191fa;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        z-index: 999;
                        border: solid 3px #fff;
                    }
                    .featured {
                        position: absolute;
                        top: 20px;
                        left: 0;
                        background: #ED0925;
                        display: inline-block;
                        padding: 0 10px;
                        color: #FFF;
                        font-size: 13px;
                        font-weight: 500;
                        z-index: 1;
                        height: 30px;
                        line-height: 30px;
                    }
                    .thumb-image {
                        overflow: hidden;
                        max-width: 50px;
                        height: 50px;
                        display: inline-block;
                        background: #ccc;
                        position: relative;
                        flex: 0 0 30%;
                        padding: 0;
                        @media(max-width: 766px){
                            flex: 0 0 100%;
                        }
                        &:hover {
                            a {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        a {
                            img {
                                transition: all 0.3s;
                                max-width: 100%;
                            }
                            &:before{
                                content:"";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0px;
                                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,.75) 100%);
                                top: 0px;
                                z-index: 1;
                            }
                        }
                        .price-wrapper {
                            position: absolute;
                            bottom: 10px;
                            left: 15px;
                            color: #fff;
                            font-size: 22px;
                            z-index: 10;
                            .price {
                                position: relative;
                                display: inline-block;
                                .text-price {
                                    color: #fff;
                                    font-weight: 500;
                                    font-size: 22px;
                                }
                                .onsale {
                                    position: absolute;
                                    left: 0;
                                    top: -18px;
                                    text-decoration: line-through;
                                    font-size: 15px;
                                    color: #fff !important;
                                    font-weight: 400;
                                }
                                .unit {
                                    font-size: 1rem;
                                    color: #fff;
                                }
                            }
                        }
                        .service-wishlist{
                            position: absolute;
                            right: 0;
                            z-index: 10;
                            top: 0px;
                            color: #fff;
                            padding: 20px;
                            cursor: pointer;
                            i{
                                transition: all 0.3s;
                                font-size: 18px;
                            }
                            &:hover,&.loading{
                                i{
                                    color: #ff9290;
                                }
                            }
                            &.active{
                                i{
                                    color: #ff0000;
                                }
                            }
                        }
                    }
                
                    .service-review {
                        .rate {
                            color: #5191FA;
                        }
                        padding: 10px 0px 0;
                        .review {
                            margin-left: 30px;
                            position: relative;
                            color: #6A7A84;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 4px;
                                height: 4px;
                                background: #D0D7DD;
                                border-radius: 50%;
                                left: -18px;
                                top: 8px;
                            }
                        }
                        display: none;
                        @media(max-width: 766px){
                            display: block;
                        }
                    }
                    .service-review-pc{
                        .head{
                            display: flex;
                            align-items: center;
                            position: relative;
                            font-size: 1rem;
                            color: #1a2b48;
                            font-weight: 400;
                            line-height: 25px;
                            justify-content: flex-end;
                            .left{
                                text-align: right;
                                .head-rating {
                                    display: block;
                                    line-height: 13px;
                                    font-weight: 500;
                                    .btn-sm{
                                        height: 24px;
                                        padding: 3px 15px;
                                    }
                                }
                                .text-rating {
                                    color: #5191FA;
                                    font-size: 1rem;
                                }
                            }
                            .score{
                                position: relative;
                                float: right;
                                margin-left: 12px;
                                padding: 7px 7px 0px 9px;
                                background: #5191fa;
                                border-radius: 4px;
                                color: #fff;
                                font-size: 20px;
                                font-weight: 400;
                                min-height: 38px;
                                span {
                                    font-size: 1rem;
                                    color: #FFF;
                                }
                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    bottom: 0;
                                    left: -8px;
                                    border: 15px solid transparent;
                                    border-bottom: 15px solid #5191FA;
                                }
                            }
                        }
                        .foot{
                            color: #5E6D77;
                            font-size: 1rem;
                            text-align: right;
                        }
                        @media(max-width: 766px){
                            display: none;
                        }
                    }
                    .item-title{
                        font-weight: 600;
                        font-size: 1.3em;
                        padding: 20px 0px 70px 0px;
                    }
                    .g-rate-price{
                        flex: 1 ;
                        position: relative;
                        @media(max-width: 766px){
                            flex: 0 0 100%;
                            padding: 0 15px 10px;
                        }
                        .text-rating{
                            color: black;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            left: 15px;
                            top: 15px;
                            bottom: 15px;
                            @media(max-width: 1280px){
                                left: 0;
                            }
                            @media(max-width: 766px){
                                display: none;
                            }
                        }
                        .g-price {
                            text-align: right;
                            position: absolute;
                            right: 15px;
                            bottom: 10px;
                            float: right;
                            @media(max-width: 766px){
                                position: relative;
                                left: 0;
                                bottom: 0;
                                float: none;
                                text-align: left;
                                border-top: solid 1px #dfdfdf;
                                margin-top: 10px;
                                padding-top: 5px;
                            }
                            .prefix {
                                color: #5e6d77;
                                display: inline-block;
                                font-weight: normal;
                                left: -3px;
                                position: relative;
                                i{
                                    font-size: 16px;
                                    color: #ffc107;
                                }
                            }
                            .price {
                                position: relative;
                                display: inline-block;
                                .text-price {
                                    font-size: 18px;
                                    color: #1A2B48;
                                    font-weight: 500;
                                }
                                .onsale {
                                    text-decoration: line-through;
                                    font-size: 1rem;
                                    color: #cc0033 !important;
                                    font-weight: 400;
                                }
                                .unit{
                                    font-size: 1rem;
                                    color: #5E6D77;
                                    font-weight: normal;
                                }
                            }
                            .text-review{
                                float: right;
                                position: relative;
                                top: 5px;
                                color: #4b4b4c;
                                display: none;
                                @media(max-width: 766px){
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .g-gallery {
            margin: 10px 0;
            position: relative;
            min-height: 75px;
            .fotorama {
                .fotorama__arr.fotorama__arr--prev {
                    left: 30px;
                    &:after {
                        content: '';
                        background: url(../images/ico_pre.svg);
                    }
                }
                .fotorama__arr.fotorama__arr--next {
                    right: 30px;
                    &:after {
                        content: '';
                        background: url(../images/ico_next.svg);
                    }
                }
                .fotorama__arr {
                    border-radius: 3px;
                    width: 40px;
                    height: 40px;
                    background: none;
                    background-color: rgba(26, 43, 72, 0.6);
                    &:after {
                        position: absolute;
                        left: 50%;
                        margin-left: -13px;
                        top: 7px;
                        width: 24px;
                        height: 24px;
                    }
                }
                .fotorama__fullscreen-icon {
                    width: 40px;
                    height: 40px;
                    top: auto;
                    bottom: 30px;
                    right: 30px;
                    background: none;
                    @media(max-width: 766px){
                        display: none;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background: url(../images/ico_full_3.svg);
                        left: 50%;
                        margin-left: -11px;
                        top: 7px;
                        z-index: 1;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(26, 43, 72, 0.5);
                        border-radius: 3px;
                    }
                }
            }
            .social{
                position: absolute;
                right: 30px;
                top: 30px;
                @media(max-width: 766px){
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                .social-share {
                    display: inline-flex;
                    position: relative;
                    &:hover{
                        .share-wrapper {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    a{
                        text-decoration: none;
                    }
                    .social-icon{
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: rgba(26, 43, 72, 0.7);
                        color: #fff;
                        font-size: 19px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 2px;
                        margin-right: 10px;
                    }
                    .share-wrapper {
                        visibility: hidden;
                        opacity: 0;
                        padding-left: 0;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 1;
                        padding-top: 5px;
                        transition: all 0.3s;
                        li {
                            width: 40px;
                            height: 40px;
                            background: #FFF;
                            border-radius: 50%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            margin-bottom: 5px;
                            a {
                                color: #1A2B48;
                            }
                        }
                    }
                }
                .service-wishlist{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgba(26, 43, 72, 0.7);
                    color: #fff;
                    font-size: 19px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2px;
                    &.active{
                        .fa{
                            &:before{
                                content: "\f004";
                            }
                        }
                    }
                }
            }
        }
        .btn-show-all{
            color: #5191fa;
            cursor: pointer;
            i{
                margin-left: 2px;
            }
        }
        .bravo-list-job-related {
            margin-top: 15px;
            border-top: solid 1px #EAEEF3;
            margin-bottom: 15px;
            @media(max-width: 990px){
                border-top: 0;
            }
            h2 {
                font-size: 28px;
                margin-top: 35px;
                text-align: center;
                margin-bottom: 35px;
                @media(max-width: 766px){
                    margin-top: 10px;
                    font-size: 24px;
                    margin-bottom: 15px;
                }
            }
            @import "loop";
        }
        .bravo-list-job-related-widget {
            margin-top: 30px;
            @media(max-width: 1023px){
                margin-bottom: 30px;
            }
            .heading {
                padding-left: 15px;
                padding-top: 5px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e2e2e2;
                position: relative;
                font-size: 18px;
                color: #1a2b48;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 3px;
                    height: 30px;
                    background: #5191FA;
                }
            }
            .item{
                margin-bottom: 15px;
                border-bottom: solid 1px #e2e2e2;
                padding-bottom: 10px;
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                .media {
                    .media-left {
                        width: 100px;
                        padding-right: 15px;
                        img{
                            max-width: 100%;
                        }
                    }
                    .media-body {
                        width: auto;
                        .media-heading {
                            margin-top: 5px;
                            font-size: 1rem;
                        }
                        .price-wrapper {
                            margin-top: 8px;
                            font-size: 12px;
                            color: #5E6D77;
                            .price {
                                font-weight: 500;
                                font-size: 16px;
                                color: #1A2B48;
                            }
                        }
                        .star-rate{
                            line-height: 16px;
                            .fa-star{
                                color: #C29D59;
                                font-size: 12px;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
        @import "../../booking/scss/form-book-for-single";
    }
    .bravo_search_map{
        .list-item{
            margin-top: 15px;
        }
    }
}
.cart-total-group{
    border-top: 1px solid #D7DCE3;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    li{
        display: flex;
        justify-content: space-between;
        padding: 7px 0px;
        .label{
            flex-grow: 1;
            color: #1A2B48;
            font-weight: 500;

        }
        .val{
            flex-shrink: 0;
        }
        &.line-end-total{
            border-top: 1px solid #D7DCE3;
        }
        &.line-new-section{
            border-top: 1px solid #D7DCE3;
            color: #1A2B48;
            font-weight: 500;
            font-size: 16px;
        }
        &.line-end-total{
            .label{
                font-size: 16px;
            }
            .val{
                color:#5191FA;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}
.has-search-map{
    .bravo_search_map{
        .results_map{
            @import "loop";
        }
    }
}