.job-content-box{
    .container-fluid{
        .title-bar{
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 4rem;
            font-family: "Roboto";
        }
        .heading{
            font-weight: bold;
            font-size: 20px;
        }
        .card{
            padding: 30px 20px;
            background-color: white;
            border-radius: 3px;
            box-shadow: 0px 0px 2px 0px #dddddd;
            margin: 0px;
            .form-control{
                margin-bottom: 0px;
            }   
            label{
                font-size: 20px;
            }
            label.work_exp{
                font-size: 15px;
            }
        }
        .contact{
            .contact_input{
                padding-left: 30px;
            }
            .contact-icon{
                color: rgb(23, 42, 49);
                position: relative;
                top: -28px;
                left: 13px;

            }
        }
        .requirement{
            .add_title{
                font-weight: bold;
            }
            
            button.r_add{
                border-radius: 1px;
                width: 9.5em;
                box-shadow: 0px 0px 1px 0px;
            }         
            i{
                color: #FF8149;
                float: right;
                font-size: 1.5em;
            }
            .responsibility{
                button{
                    background-color: #FF8149;
                }
                .res_txt{
                    color: #898E9A;
                    font-size: 1em;
                }
            }
        }
        .form-group{
            label:first-child{
                font-weight: bolder;
            }
            label.salary_txt{
                color: #515151;
                font-size: 0.8em;
            }
            input[type=radio]{
                &:checked:before{
                    background-color: #FF8149;
                }
            }
        }
        .dungdt-upload-box{
            max-width: 250px;
            position: relative;
            .upload-box{
                background: #fafbfc;
                text-align: center;
                border: 1px dashed rgba(195,207,216,0.3);
                padding: 10px 20px;
                transition: all 0.2s;
                height: 160px;
                width: 250px;
                border-radius: 10px;
                svg{
                    width: 120px;
                    height: 100px;
                    margin-bottom: 15px;
                }
                &:hover{
                    border: 1px solid rgba(195,207,216,1);
                }
            }
            .attach-demo{
                background: #fafbfc;
                text-align: center;
                border: 1px solid rgba(195, 207, 216, 0.3);
                border-radius: 10px;
                transition: all 0.2s;
                cursor: pointer;
                padding:0px!important;
                overflow: hidden;
                position: relative;
                height: 160px;
                img{
                    max-width: 100%;
                    min-width: 100%;
                }
            }
            .upload-actions,.attach-demo{
                display: none;
            }

            &.active{
                .upload-actions{
                    display: flex;
                }
                .upload-box{
                    display: none;
                }
                .attach-demo{
                    display: block;
                    padding: 20px;
                }
            }
            .delete{
                color: white;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                display: none;
                i{
                    color:white;
                }
            }
            &:hover{
                .delete{
                    display: block;
                }
            }
        }
        .work_exp{
            padding: 0px 5px;
        } 
        .job-salary{
            .col-md-4{
                .input-radio{
                    position: relative;
                    top: .5rem;
                    left: .25rem;
                }
                .input-number{
                    position: relative;
                    top: -0.5rem;
                    left: .5rem;
                }
            }
        }
    }
    .btn_post{
        .btn{
            border-radius: 0px;
            font-weight: 400;
        }
        a{
            border-radius: 5px;
            background-color: white;
        }
        .btn-save{
            background-color: #FF8149;
            color: white;
            box-shadow: 0px 0px 1px 0px;
            border-radius: 5px;
        }
    }
}