.user-sub-header{
    .container{
        padding: 4rem 1rem 4rem 1rem;
        font-family: Poppins;
        .nav.nav-pills{
            border-bottom: 1px solid #EDEDED;
            a{
                color: #0E7283;
            }
            .active{
                background-color: #FBFBFB;
                border-bottom:3px solid #ff8149;
                color: #ff8149;
                border-radius: 0px;
            }
            .nav-item.nav-link{
                height: 3.5rem;
                text-align: center;
                vertical-align: middle;
                font-size: 1.3rem;
                font-family: 'Poppins';
                padding: 0.5rem 2rem;
                span{
                    display: block;
                    left: 0px;
                    top: -0.1rem;
                    .fa{
                        font-size: 1.25rem;
                        padding-right: .25rem;
                    }
                }
            } 
        }
    }
}