.user-sub-header{
    .container{
        padding: 4rem 1rem 4rem 1rem;
        .nav.nav-pills{
            .active{
                background-color: #F7E6D2;
                color: black;
                border-radius: 0px;
            }
            .nav-item.nav-link{
                width: 150px;
                height: 50px;
                text-align: center;
                vertical-align: middle;
                font-size: 1.25rem;
                font-family: 'Poppins';
                padding-top: 1rem;
            } 
        }
    }
}