.bravo_footer {
    padding-top: 50px;
    background: rgb(23,42,49);
    font-family: IBM Plex Sans;
    .mailchimp {
        padding-top: 65px;
        padding-bottom: 40px;
        background: #F5F5F5;
        @media(max-width: 766px){
            padding-top: 45px;
            padding-bottom: 20px;
        }
        .media-left {
            padding-right: 30px;
            @media(max-width: 766px){
                padding-right: 15px;
            }
            i{
                font-size: 80px;
                top: -10px;
                position: relative;
                @media(max-width: 766px){
                    top: -20px;
                }
            }
        }
        .media-body {
            .media-heading {
                font-size: 24px !important;
                @media(max-width: 766px){
                    font-size: 18px !important;
                }
            }
            p {
                font-size: 16px !important;
                color: #5E6D77 !important;
                @media(max-width: 766px){
                    font-size: 14px !important;
                }
            }
        }
        .subcribe-form {
            position: relative;
        }
        .subcribe-form .form-control {
            height: 55px;
            line-height: 53px;
            font-size: 1rem;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: #D7DCE3;
            @media(max-width: 766px){
                height: 40px;
                line-height: 40px;
            }
        }
        .subcribe-form .btn-submit {
            border: none;
            border-radius: 0 5px 5px 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 55px;
            line-height: 55px;
            color: #FFF;
            background: #1a2b48;
            padding-left: 25px;
            padding-right: 25px;
            font-weight: 600;
            text-transform: uppercase;
            @media(max-width: 766px){
                height: 40px;
                line-height: 40px;
            }
            @media(max-width: 990px){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .main-footer {
        margin-top: 20px;
        .nav-footer {
            font-family: 'IBM Plex Sans', sans-serif;
            .title {
                font-size: 16px;
                color: white;
                font-weight: 600;
                padding: 20px 0;
                position: relative;
            }
            .contxt {
                font-size: 1.2rem;
                font-weight: 500;
                color: rgb(118, 131, 140);
                ul {
                    list-style: none;
                    li {
                        list-style-type: none;
                        display: block;
                        a {
                            margin-bottom: 10px;
                            font-size: 1.2rem;
                            display: block;
                            color: white;
                            text-decoration: none;
                            transition: all 0.3s;
                            &:hover {
                                color: white;
                            }
                            i{
                                color: #898E9A;
                            }
                        }
                    }
                    .footer-email{
                        input{
                            border-radius: 0px;
                            background-color: rgb(23,42,49);
                            border-width: 0px 0px 3px 0px ;
                            color: white !important;
                        }
                        i{
                            position: relative;
                            right: 10px;
                            top: -22px;
                            float: right;
                        }
                    }
                }
                .contact {
                    border-left-width: 3px;
                    padding-left: 20px;
                    border-left-color: #5191fa;
                    border-left-style: solid;
                    margin-bottom: 30px;
                    .c-title {
                        color: #5e6d77;
                        margin-bottom: 10px;
                    }
                    .sub {
                        font-weight: 500;
                        font-size: 18px;
                        a {
                            margin-right: 20px;
                            text-decoration: none;
                            i{
                                color: #1a2b48;
                            }
                        }
                    }
                }
            }
        }
        .action{
            i{
                color: #4D525B;
                margin: 0px 6px;
            }
        }
    }
    .copy-right {
        border-top: 1px solid #EAEEF3;
        p{
            margin-bottom: 0;
        }
        .context {
            position: relative;
            .f-visa {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translate(0, -50%);
                @media(max-width: 460px){
                    position: initial;
                    margin-top: 10px;
                    transform: translate(0);
                }
            }
            padding: 40px 15px;
            @media(max-width: 766px){
                padding: 20px 15px;
            }
        }
    }
    .line{
        padding-top: 10em;
        border-bottom: 3px solid white;
    }
    .end_footer{
        padding: 20px 0px 30px;
        color: white;
        span{
            color: #898E9A
        }
    }
}
.user-footer{
    background: rgb(23,42,49);
    font-family: IBM Plex Sans;
    padding: 30px;
    color: white;
    span{
        color: #898E9A
    }
}