.auth-page-content{
    padding: 5rem;
    .form-title{
        font-size: 2rem;
    }
    .form-sub-title{
        font-size: 1.2rem;
        color: #AF6116;
    }
    .form-group{
        .email-icon{
            position: relative;
            top: -2rem;
            left: 1rem;
        }
        .form-submit{
            margin-top: 2rem;
            padding: 0rem;
        }
    }
}