.auth-page-content{
    padding: 5rem;
    .form-title{
        font-size: 2rem;
    }
    .form-sub-title{
        font-size: 1.2rem;
        color: #AF6116;
    }
    .form-group{
        .email-icon{
            color: rgb;
            position: relative;
            top: -2rem;
            left: 1rem;
        }
        .form-submit{
            margin-top: 2rem;
            padding: 0rem;
        }
    }
}
.page-content{
    height: 100vh;
    .content-left{
        font-family: Roboto-Bold;
        padding: 30px;
        .link{
            padding: 30px 0px 50px 0px;
            a{
                color: rgb(210, 215, 215);
                float: right;
            }
        }
        .txt{
            padding: 0px 100px 0px 100px;
            h1{
                font-size: 8.5em;
                font-weight: bold;
            }
            div{
                color: rgb(210, 215, 215);
            }
        }
        color: white;
        background-color: rgb(23, 42, 49);
    }
    .content-right{
        padding: 100px 180px 100px 180px;
        h1{
            color: rgb(23, 42, 49);
            font-weight: 900;
            font-family: Roboto;
            font-size: 40px;
        }
        p{
            color:rgb(177, 179, 179);
            a{
               color: #AF6116 !important; 
            }
        }
        form{
            color:rgb(177, 179, 179);
            div{
                label{
                    color:rgb(92, 92, 92);
                    text-shadow: 0px 0px 1px;
                }
                input{
                    border-radius: 0px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                input[type=checkbox]:checked:before{
                    color: #FF8149;
                }
                button{
                    background-color:rgb(23, 42, 49);
                    font-size: 15px;
                    font-family: Poppins;
                    font-weight: 100;
                    height: 43px;
                }
                .sign{
                    padding-top: 12px;
                }
                .email-icon{
                    color: rgb(23, 42, 49);
                    position: relative;
                    top: -29px;
                    left: 10px;
                }
                #email{
                    border-width: 0px 0px 3px 0px;
                }
                .go_to_login{
                    color: rgb(210, 215, 215);
                }
                #rest_pwd{
                    background-color: rgb(23, 42, 49);
                    border-radius: 44px;
                    font-size: 16px;
                    padding: 10px 34px;
                }
            }
        }
    }
}