
.block-form-search-job{
    background-image:url('/images/home.png') !important;
    background-position: 0px -16px ;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    height: 762px;
    .container{
        .row{
            padding: 17em 18em 0;
            div{
                h1{
                    color: white;
                    font-size: 80px;
                    font-weight: 500;
                    font-family: 'Microsoft PhagsPa',sans-serif;
                }
                .g-form-control{
                    i{
                        top: 45px;
                        position: relative;
                        color: rgb(23,42,49);
                        font-size: 1.4em;
                        left: 18px;
                        z-index: 1;
                    }
                    .location-search{
                        border-left: none;
                        padding: 33px 160px 33px 5.5rem;
                    }
                    .marker-icon{
                        position: absolute;
                        left: 348px;
                        top: 12px;
                        padding: 14px 0px 14px 26px;
                        border-left: 1px solid #E8E7E8;
                    }
                    input{
                        border-radius: 0px;
                        padding: 33px 23px 33px 4.5rem;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        color: #64626A;
                    }
                    .btn-search{
                        position: relative;
                        border-radius: 0px;
                        background-color: rgb(255, 129, 73);
                        color: white;
                        top:calc(6px - -6rem);
                        left:calc( 100% - 154px );
                        font-size: 1.2em;
                        width: 143px;
                        height: 50px;
                        z-index: 1;
                    }
                }
                div{
                    color: white;
                }
            }
        }
    }
}