.block-list-job-category{
    .container{
        .text-heading{
            font-size: 1.8rem;
            font-weight: bolder;
        }
        .category-list{
            text-align: center;
            .category-image{
                height: 11rem;
                width: 11rem!important;
                border-radius: 30px;
                margin: auto;
            }
            .category-name{
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .text-show-all{
            float: right;
            cursor: pointer;
        }
    }
}