.block-list-job-category{
    padding-bottom: 70px;
    .container{
        .text-heading{
            font-size: 1.8rem;
            font-weight: bolder;
            text-shadow: 0px 0px 1px ;
        }
        .text-show-all{
            color: rgb(109, 141, 153);
            text-shadow: 0px 0px 1px ;
            font-weight: bold;
        }
        .category-list{
            text-align: center;
            .category-image{
                height:150px;
                max-width: 150px !important;
                border-radius: 5px;
                margin: auto;
                margin-bottom: 6px;
            }
            .category-name{
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .text-show-all{
            float: right;
            cursor: pointer;
        }
    }
}