.bravo-list-job{
    background-color: rgb(252, 252, 252);
    padding: 50px 0px 50px 0px;
    .ads-iamge{
        // background-image:url('images/advertise.png');
        cursor: pointer;
        // background-size:cover;
        border-style: none;
        &:hover{
            box-shadow: 0px 0px 1px 1px lightgrey;
        }
    }
    .ads-iamge img{
        height: 480px;
    }
    .ads-text-span{
        font-size: 1.3rem;
        font-family: cursive;
        padding: 0.5rem;
        position: relative;
        z-index: 1;
        
    }
    .daily{
        height: 225px;
        position: relative;
        margin-top: 30px;
    }
    .daily .mount{
        font-size: 4.5em;
        padding: 56px;
        position: absolute;
        bottom: 0px;
    };
    .daily .txt{
        color: #8E8C95;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        font-family: 'Inter',sans-serif;
    }
    .daily .txt a{
        color: #FA6420;
    }
    .title{
        margin-bottom: 40px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        @media(max-width: 766px){
            font-size: 24px;
        }
    }
    .row{
        .col-md-9{
            div{
                .item-loop-list {
                    div{
                        border-radius: 3px;;
                    }
                }
            }
        }
        .col-md-3{
            span{
                color: white;
                position: absolute;
                top:15px;
                left:25px;
            }
        }
    }
    .sub-title{
        color: #5e6d77;
        font-size: 1rem;
        margin-bottom: 15px;
    }
    @import "./../../module/job/scss/loop";
    .item-loop-list{
        border-radius: 1px;
        background-color: white;
    }
    &.layout_normal{
        margin: 30px 0;
        @media(max-width: 1023px){
            margin: 0;
        }
    }
    &.layout_carousel{
        @media (max-width: 425px) {
            .owl-nav{
                display: none !important;
            }
        }
    }
    .owl-dots{
        display: none;
    }
    .owl-nav{
        position: absolute;
        right: 0;
        top: -50px;
        display: block;
        .owl-prev,.owl-next{
            font-size: 40px;
            line-height: 33px;
            padding: 0px 10px !important;
            margin-left: 10px;
            span{
                position: relative;
                top: -1px;
                outline:none !important;
            }
            &:hover{

            }
        }
    }

}