.bravo-testimonial{
    margin: 30px 0 30px;
    h3{
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 400;
        @media(max-width: 766px){
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    .item {
        border: 1px solid #D7DCE3;
        border-radius: 3px;
        padding: 30px;
        min-height: 250px;
        margin-bottom: 30px;
        @media(max-width: 766px){
            padding: 15px;
            min-height: 0px;
        }
        .author {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 30px;
            @media(max-width: 766px){
                margin-bottom: 10px;
            }
            img {
                margin-right: 20px;
                width: 70px;
                height: auto;
                border-radius: 50%;
            }
            .author-meta h4 {
                font-size: 16px;
                margin-bottom: 8px;
            }
            .author-meta .star .fa {
                color: #FFDC00;
                font-size: 16px;
                margin-right: 2px;
            }
        }
        p {
            font-size: 14px;
            color: #768092;
            margin-bottom: 0px;
        }
    }
}
.bravo-call-to-action{
    margin: 25px 0 40px;
    @media(max-width: 768px){
        margin: 0 0 30px 0px;
    }
    .context{
        padding-top: 40px;
        padding-right: 45px;
        padding-bottom: 50px;
        padding-left: 45px;
        background: #f6b756;
        @media(max-width: 766px){
            padding:15px;
        }
        .title{
            font-size: 48px;
            font-weight: 500;
            @media(max-width: 768px){
                font-size: 32px;
            }
            @media(max-width: 766px){
                font-size: 26px;
            }
        }
        .sub_title{
            font-size: 18px;
            @media(max-width: 766px){
                font-size: 16px;
            }
        }
        .btn-more{
            margin-top: 30px;
            float: right;
            background: #fff;
            display: block;
            padding: 15px 25px;
            font-weight: 500;
            border-radius: 5px;
            color: #000;
            text-decoration: none;
            transition: all 0.3s;
            &:hover{
                border-radius: 10px;
                background: #f1f1f1;
            }
            @media(max-width: 990px){
                padding: 15px 10px;
            }
            @media(max-width: 766px){
                float: none;
                display: inline-block;
                margin-top: 10px;
                padding: 5px 10px;
            }
        }
    }
}

.bravo-how-it-works{
    margin: 30px 0;
    color: #fff;
    padding-top: 80px ;
    padding-bottom: 100px ;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    .title{
        text-align: center;
        font-size: 28px;
        margin-bottom: 35px;
    }
    .featured-item{
        margin-bottom: 20px;
        .image {
            margin-top: 15px;
            float: left;
            img {
                width: 80px;
            }
        }
        .content {
            margin-left: 85px;
            @media(max-width: 990px){
                margin-left: 60px;
            }
            padding: 18px 15px 15px;
            .sub-title{
                font-size: 22px;
            }
            .desc{
                font-size: 13px;
            }
        }
    }
    @media(max-width: 990px){
        .col-md-4{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.bravo-featured-box{
    padding: 50px 0;
    background: #f2f2f2;
    @media(max-width: 460px){
        padding: 20px 0;
    }
    .title{
        margin-top: 15px;
        font-size: 28px;
        font-weight: 500;
        @media(max-width: 766px){
            font-size: 24px;
        }
    }
    .sub-title{
        color: #5e6d77;
        font-size: 14px;
        margin-bottom: 15px;
    }
    a{
        text-decoration: none;
    }
    .featured-item{
        background: #fff;
        text-align: center;
        padding: 20px;
        margin: 15px 0;
        .text{
            margin-top: 20px;
            font-size: 14px;
            font-weight: 500;
            color: #1A2B48;
        }
        img{
            transition: all 0.3s;
            max-width: 100%;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
}
.bravo-form-search-job{
    padding: 120px 0;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    @media(max-width: 766px){
        padding: 120px 0 15px;
    }
    .text-heading{
        font-weight: 500;
        font-size: 54px;
        color: #000;
        @media(max-width: 766px){
            font-size: 28px;
        }
    }
    .sub-heading {
        font-size: 18px;
        color: #000;
        font-weight: normal;
        @media(max-width: 766px){
            font-size: 14px;
        }
    }
    .g-form-control{
        margin: 50px 0 0;
        @media(max-width: 990px){
            padding: 0;
        }
        @media(max-width: 766px){
            margin: 20px 0 0;
            background: #fff;
        }
    }
}

.bravo-list-job{
    margin: 50px 0 30px;
}
//Home mix
.bravo-form-search-all{
    padding: 120px 0;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    @media(max-width: 766px){
        padding: 120px 0 15px;
    }
    .text-heading{
        font-weight: 500;
        font-size: 54px;
        color: #FFF;
        @media(max-width: 766px){
            font-size: 28px;
        }
    }
    .sub-heading {
        font-size: 18px;
        color: #FFF;
        font-weight: normal;
        @media(max-width: 766px){
            font-size: 14px;
        }
    }
    .g-form-control{
        margin: 50px 0 0;
        @media(max-width: 990px){
            padding: 0;
        }
        @media(max-width: 766px){
            margin: 20px 0 0;
        }
        .nav-tabs{
            border: none;
            margin-top: 50px;
            li a {
                background-color: #1A2B47;
                color: #fff;
                border-color: #1A2B47;
                padding: 7px 25px;
                border-radius: 3px 3px 0 0;
                font-size: 14px;
                margin-right: 1px;
                text-decoration: none;
                display: block;
                @media(max-width: 766px){
                    padding: 7px 20px;
                }
                @media(max-width: 460px){
                    padding: 7px 10px;
                }
                i{
                    font-size: 16px;
                    position: relative;
                    top: 1px;
                    line-height: 16px;
                    margin-right: 2px;
                }
                &.active {
                    background-color: #5192FA;
                    color: #fff;
                    border-color: #5192FA;
                }
            }
        }
        .tab-content{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 15px;
                width: 15px;
                background: #fff;
            }
            #bravo_tour{
                max-width: 1000px;
            }
            #bravo_car{
                max-width: 1000px;
            }
            #bravo_event{
                max-width: 1000px;
            }
        }
    }
}
.bravo-offer{
    margin: 50px 0 30px;
    .item{
        padding: 60px 15px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        height: 370px;
        margin-bottom: 15px;
        @media(max-width: 1023px){
            padding: 25px 15px;
            height: 300px;
        }
        .featured-text {
            padding: 7px 20px;
            background: #fa5636;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            display: inline-block;
        }
        .featured-icon{
            position: relative;
            min-height: 35px;
            i{
                line-height: normal;
                position: absolute;
                left: 0;
                top: -10px;
                font-size: 60px;
                color: #fff;
            }
        }
        .item-title {
            color: #fff;
            margin-top: 60px;
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 18px;
            transition: all 0.4s;
            @media(max-width: 1023px){
                margin: 30px 0 10px;
            }
        }
        .item-sub-title {
            color: #fff;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 75px;
            @media(max-width: 1023px){
                padding-bottom:0;
            }
        }
        a.btn-default {
            position: absolute;
            opacity: 0;
            bottom: 20px;
            color: #fff;
            background: transparent;
            transition: all 0.3s;
            border-radius: 3px;
            border: 1px solid #fff;
            &:hover{
                color: #5191FA;
                background: #fff;
            }
            @media(max-width: 1023px){
                opacity: 1;
                bottom: 0 !important;
                position: relative;
            }
        }
        .img-cover {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.2s;
            background-size: cover !important;
            background: #1a2b47;
        }
        &:hover {
            .img-cover {
                transform: scale(1.1);
            }
            .item-title {
                margin-top: 25px;
            }
            a {
                &.btn-default {
                    opacity: 1;
                    bottom: 60px;
                }
            }
        }
    }
}
.bravo-vendor-form-register{
    h1{
        font-size: 2rem;
    }
}