.bravo_form{
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .g-field-search{
        flex: 0 0 90%;
        max-width: 90%;
        flex-grow: 1;
        padding: 0 15px;
        @media(max-width: 1023px){
            flex: 0 0 100% !important;
            max-width: 100% !important;
            [class*=col-] {
                flex: 0 0 100% !important;
                max-width: 100% !important;
            }
        }
    }
    .g-button-submit{
        flex: 0 0 10%;
        max-width: 10%;
        flex-grow: 1;
        position: relative;
        @media(max-width: 1023px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            text-align: right;
        }
        button{
            height: 100%;
            width: 100%;
            border-radius: 0px 5px 5px 0px;
            background: #5191fa;
            border: none;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            padding: 0;
            @media(max-width: 1023px){
                height: auto;
                width: auto;
                position: relative;
                margin: 10px 15px;
                border-radius: 5px;
                display: inline-block;
                padding: 8px 15px;
                font-weight: normal;
            }
        }
    }
    .form-group{
        margin-bottom: 0;
        @media(max-width: 1023px){
            border-bottom: solid 1px #ccc;
        }
    }
    .border-right {
        border-right: 1px solid #D7DCE3;
        @media(max-width: 1023px){
            border-right: none !important;
        }
    }
    .field-icon {
        position: absolute;
        top: 50%;
        margin-top: -18px;
        font-size: 40px;
        color: #5191fa;
        left: 15px;
        @media(max-width: 766px){
            margin-top: -16px;
            font-size: 34px;
        }
    }
    .dropdown-toggle{
        &:after{
            position: absolute;
            right: 10px;
            top: 50px;
            color: #5191FA;
            border-top: 0.4em solid;
            border-right: 0.2em solid transparent;
            border-left: 0.32em solid transparent;
        }
    }
    .form-content{
        position: relative;
        padding: 20px 0 10px 55px;
        transition: all .3s;
        @media(max-width: 766px){
            padding-left: 45px;
        }
        label {
            font-size: 14px;
            color: #5E6D77;
            font-weight: 400;
            margin-bottom: 0px;
        }
        .form-date-search,.form-date-search-job{
            .check-in-out {
                position: absolute;
                left: -15px;
                bottom: 1px;
                z-index: -1;
                opacity: 0;
            }
        }
        .date-wrapper {
            .check-in-wrapper{
                @media(max-width: 1023px){
                    max-height: 45px;
                }
                .check-in-render,.check-out-render {
                    display: inline-block;
                    width: auto;
                }
                span {
                    color: #5E6D77;
                    position: relative;
                    top: -7px;
                }
                label {
                    display: block;
                }
            }
            .check-in-out {
                position: absolute;
                left: -15px;
                bottom: 1px;
                z-index: -1;
                opacity: 0;
            }
            .wrapper-more{
                label{
                    display: block;
                }
            }
        }
        .dropdown{
            .form-control{
                border: none;
                box-shadow: none;
                padding: 0;
                font-size: 16px;
                color: #5191FA;
                position: relative;
                left: -5px;
                height: 25px !important;
                @media(max-width: 766px){
                    font-size: 14px;
                }
                option{
                    color: #000 ;
                }
            }
        }
        .render {
            font-size: 16px;
            color: #5191fa;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            @media(max-width: 766px){
                font-size: 14px;
            }
        }
    }
    .smart-search,.input-search{
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: 10px;
            top: 10px;
            color: #5191fa;
            border-top: .4em solid;
            border-right: .3em solid transparent;
            border-left: .3em solid transparent;
        }
        .parent_text,.form-control{
            border: none;
            box-shadow: none;
            font-size: 16px;
            color: #5191FA;
            position: relative;
            left: 0 !important;
            padding: 0 !important;
            height: 25px;
            background: transparent;
            &::-webkit-input-placeholder{
                color: #5191fa;
                opacity: 1;
            }
            &::-moz-placeholder{
                color: #5191fa;
                opacity: 1;
            }
            &:-ms-input-placeholder{
                color: #5191fa;
                opacity: 1;
            }
            &:-moz-placeholder{
                color: #5191fa;
                opacity: 1;
            }
            &::placeholder {
                color: #5191fa;
                opacity: 1;
            }
            &[readonly] {
                cursor: pointer;
            }
        }
        .bravo-autocomplete{
            &.show{
                opacity: 1;
                visibility: visible;
            }
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            position: absolute;
            background: #fff;
            padding: 0;
            top: 100%;
            margin-top: 15px;
            left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border: solid 1px #dee2e6;
            z-index: 20;
            max-height: 300px;
            overflow-y: auto;
            right: -15px;
            @media(max-width: 1023px){
                margin-top: 10px;
                border-radius: 0;
                right: 0;
                left: -55px;
                background: #f1f1f1;
            }
            .item{
                cursor: pointer;
                padding: 10px 15px;
                &:nth-child(2n){
                    background:#fff;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .h-line{
                    font-weight: 500;
                }
                i{
                    margin-right: 5px;
                    font-size: 16px;
                    position: relative;
                    top: 1px;
                    color: #828282;
                }
                &:hover{
                    background: #f5f4f7;
                }
            }
            .message{
                display: none;
                padding: 10px 15px;
                font-size: 14px;
                color: #424242
            }
            &.on-message{
                .list-item{
                    display: none;
                }
                .message{
                    display: block;
                }
            }
        }
    }
    .input-search{
        &:after {
            display: none;
        }
    }
}
.select-guests-dropdown{
    transform: none!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    top:100%!important;
    margin-top: 0px;
    right: 0px;
    border-color:#dee2e6;
    @media(max-width: 1023px){
        transform: translate(0px ,-1px) !important;
    }
    .dropdown-item-row{
        display: flex;
        justify-content: space-between;
        padding:4px 24px;
        align-items: center;
        padding-right:14px;
        .btn-minus,.btn-add,
        .btn-minus2,.btn-add2
        {
            padding: 0px 5px;
            cursor: pointer;
            i{
                font-size: 25px;
            }
        }
        .count-display{
            color: #5191FA;
            min-width: 25px;
            text-align: center;
            input{
                border: none;
                background: none;
                width: 35px;
                text-align: center;
                color: #5191fa;
                margin-left: 15px;
            }
        }
        .val{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.bravo-video-popup{
    display: inline-block;
    position: relative;
    .play-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
    }
    &:hover{
        .play-icon{
            opacity: 1;
        }
    }
}
.bravo-faq-lists{
    .faq-item{
        margin-bottom: 35px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom:35px;
        h3{
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 10px;
            img{
                width: 30px;
                height: auto;
                position: relative;
                top: -2px;
                margin-right: 10px;
            }
        }
        p{
            font-size: 15px;
            color: #666;
            margin-top: 15px;
        }
    }
}
.bravo-checkbox {
   margin-bottom: 15px;
   input {
       margin-right: 5px;
   }
   label {
       position: relative;
       cursor: pointer;
       transition: all 0.3s;
       padding-left: 25px;
       font-size: 14px;
       color: #5E6D77;
       font-weight: normal;
       margin-bottom: 0px;
   }
   input[type=checkbox] {
       display: none;
   }
   .checkmark {
       display: inline-block;
       height: 17px;
       left: 0;
       position: absolute;
       top: 0;
       width: 17px;
       border: solid 1px #A0A9B2;
       border-radius: 2px;
       background: #fff;
   }
   input[type=checkbox] + .checkmark {
       background-repeat: no-repeat !important;
       background-position: center;
   }
   input[type=checkbox]:checked + .checkmark {
       background-repeat: no-repeat !important;
       background-position: center;
   }
   input[type=checkbox] + .checkmark {

   }
   input[type=checkbox]:checked + .checkmark {
       &:after {
           content: "";
           position: absolute;
           background-color: transparent;
           border-radius: 0;
           left: 5px;
           top: 2px;
           width: 5px;
           height: 8px;
           border: solid #5191FA;
           border-width: 0 2px 2px 0;
           -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
       }
   }
   .fa-star{
       color: #C29D59;
       font-size: 15px;
       position: relative;
       top: -1px;
       margin-right: 3px;
   }
}
//Contact
.bravo-contact-block{
   .section {
       padding: 30px 0;
   }
   .contact-form{
       .alert{
           ul{
               margin-left: 35px;
           }
       }
   }
   .form_wrapper {
       .contact-header {
           padding-bottom: 30px;
           margin-bottom: 30px;
           border-bottom: 2px solid #EBEEF1;

           h1 {
               font-size: 24px;
               color: #1A2B48;
               margin-top: 0px;
           }

           h2 {
               font-size: 14px;
               color: #666b6f;
               margin-bottom: 0px;
           }
       }
   }

   .contact-info {
       position: relative;

       .info-bg {
           min-height: 500px;
           @media(max-width: 1023px) {
               display: none;
           }
       }

       .info-content {
           position: absolute;
           top: 50%;
           margin-top: -185px;
           margin-left: -130px;
           background: #FA5636;
           padding: 30px;
           min-width: 385px;
           /*min-height: 370px;*/
           @media(max-width: 1023px) {
               position: relative;
               margin: 0;
               min-width: auto;
           }

           h3 {
               font-size: 24px;
               color: #FFFFFF;
               margin: 0;
           }

           .sub {
               position: relative;
               max-width: 300px;

               p {
                   font-size: 16px;
                   color: #FFFFFF;
                   margin-bottom: 5px;
                   letter-spacing: normal;
                   width: 100%;
                   word-break: break-word;
               }
           }
       }
   }

   .img-responsive {
       display: block;
       max-width: 100%;
       height: auto;
   }
   .bravo-contact-block-form{
       .text-danger{
           border: solid 1px #dc3545;
           display: block;
           padding: 10px;
           border-radius: 5px;
       }
       .text-success{
           border: solid 1px #28a745;
           display: block;
           padding: 10px;
           border-radius: 5px;
       }
       .submit{
           width: 100%;
       }
       .fa-spinner{
           display: none;
       }
       &.loading{
           .fa-spinner{
               display: inline-block;
           }
       }
   }

}
.bravo-list-item{
   .topbar-search{
       display: flex;
       align-items: center;

       @media(max-width: 1023px){
           flex-wrap: wrap;
           .text{
               flex: 0 0 100% !important;
           }
           .control{
               flex: 0 0 100% !important;
               flex-wrap: wrap;
               .item{
                   margin-bottom: 10px;
                   margin-top: 10px;
                   flex: 0 0 100% !important;
               }
           }
       }

       .text{
           //flex: 1;
       }
       .control{
           flex: 1 1 55%;
           color: #1A2B48;
           text-align: right;
           display: flex;
           align-items: center;
           justify-content: flex-end;
           a{
               color: #1A2B48;
               text-decoration: none;
               cursor: pointer;
           }
           .item{
               display: flex;
               align-items: center;
               margin-left: 5px;
               padding-left: 5px;
               border-left: solid 1px #a7a7a7;
               &:first-child{
                   border: none;
               }
               .item-title{
                   line-height: normal;
               }
               .dropdown{
                   margin-left: 10px;
                   font-weight: 600;
                   .dropdown-toggle{
                       padding: 7px 15px;
                       border: solid 1px #CCc;
                   }
                   .dropdown-item{
                       color: #000;
                       font-size: 14px;
                   }
               }
               .dropdown-toggle::after{
                   top: 2px;
                   position: relative;
               }
           }
       }
   }
}